@font-face {
    font-family: "AppFont";
    src: url("./assets/Garet-Book.ttf");
}

@font-face {
    font-family: "AppFont";
    src: url("./assets/Garet-Heavy.ttf") format("truetype");
    font-weight: 600;

}

body {
    margin: 0;
}

.website-content-wrapper {
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.website-content {
    text-align: center;
    font-family: "AppFont";
    margin: 30px;
}

.website-content h1 {
    margin: 0;
    color: rgb(132, 8, 174);
}

.img-wrapper {
    text-align: center;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-family: "AppFont";
    color: white;
    background-color: rgb(132, 8, 174);
    padding: 10px;
}

.top-bar img {
    width: 40px;
    height: 40px;
}

.top-bar a {
    filter: invert(1);
    margin-left: 20px;
}

.picta-logo {
    width: 40%;
    max-width: 400px;
}

.img-wrapper a {
    margin: 0 auto;
    margin-top: 20px;
}

.animated-button {
    font-family: "AppFont";
    font-size: large;
    background-color: rgb(132, 8, 174);
    color: white;
    padding: 12px;
    transition: transform 0.2s ease-in-out;
    border-radius: 16px;
    border: none;
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.animated-button img {
    filter: invert(1);
    width: 30px;
    height: 30px;
}

.animated-button:hover {
    transform: scale(1.2);
}

.divider {
    height: 2px;
    background-color: black;
    max-width: 1280px;
    width: 100%;
    margin: 20px 0px;
}